

h1{
    font-family: verdena, arial;
}
p{
    font-family: "lucida console", "courier new";
    font-size:1em; /* 1em=100% */
    font-weight:bold;
    font-style: italic;
}

@font-face{
    src: url(fonts/Roboto-Light.ttf);
    font-family: Roboto-Light;
}
@font-face{
    src: url(fonts/OpenSans-VariableFont_wdth,wght.ttf);
    font-family: OpenSans;
}
#p2{
    font-family: OpenSans;
    font-size: 24px;
    font-weight:lighter;
    font-style:normal;
    
}
h4{
    font-family: Roboto-Light;
    font-size:55px;
    font-style:italic;
}